
$ec-boxshadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

// Drat JS Overrides
// ======================================================== 
.Draftail-Editor {
  width: 100% !important;
  background-color: #f4f5f7 !important;
  border: none !important;
  padding: 1em 1.5em !important;
  overflow: hidden;
  * {
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  .Draftail-Toolbar {
    background: none !important;
    padding-bottom: 1em !important;
    background-color: transparent !important;
  }
  .Draftail-ToolbarButton {
    padding: 0 0.75em 0.5em !important;
    margin: 0 2px !important;
  }
  .Draftail-ToolbarGroup+.Draftail-ToolbarGroup::before {
    margin: 5px 0.5em 0 !important;
  }
  .Draftail-ToolbarButton--active {
    background: #18181C !important;
    border-radius: 50px !important;
    &>span {
      color: white !important;
    }
  }
  .DraftEditor-root {
    color: #18181C !important;
  }
  .DraftEditor-editorContainer,
  .public-DraftEditorPlaceholder-root {
    margin-top: 1em;
  }
  .public-DraftEditorPlaceholder-root>div {
    color: rgba(24, 24, 24, 0.25) !important;
  }
  .Draftail-block--blockquote {
    margin: 0 !important;
    padding-left: 1em !important;
    border-left: 1px solid rgba(24, 24, 24, 0.1);
  }
}

// Zoom Overrides 
// ======================================================== 
  //Body
#zmmtg-root{
  background-color: #f4f5f7;
}
  //User Video Preview (move to left side)
.ReactModal__Content.ReactModal__Content--after-open{
  right: 66.5vw !important
}
  // Disable presentation buttons 
#wc-footer div .footer-button__button.ax-outline, .more-button,
#wc-footer div .footer__leave-btn.ax-outline {
  display: none;
}

 // Container for video and audio controls
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white !important;
  color: #18181C !important;
  background-image: none !important;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  margin: 8px;
  width: 5em;
  height: 25%;
  position: absolute;
  top: 35%;
  left: -13.75vw
}

#wc-footer {
  width: 10em !important;
  border-radius: 16px;
  box-shadow: $ec-boxshadow;
}
// audio bottom background 
.join-audio.ax-outline {
  background-color: transparent !important;
}

// modal for joining audio 
#dialog-join .top, #dialog-invite .top {
  border-bottom: none !important;
}

.diaout-layer {
  background-color: white !important;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  color: #18181c;
  bottom: 0px;
  width: 20% !important;
  position: absolute;
  text-align: center;
  height: 30% !important;
  margin: 5% 30% !important;
  border-radius: 16px;
  box-shadow: $ec-boxshadow;
}

  //Disable tab buttons 
#dialog-join .tab {
  display: none;
}

  //Buttons 
.zm-btn--primary, .zm-btn--primary:hover {
  background: #ff671f;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif !important;
}

.chat-control-receiver, .chat-control-receiver:hover {
  background: #ff671f !important;
  font-family: 'Montserrat', sans-serif !important;
}

.zm-btn--primary, .zm-btn--primary:hover {
  padding: 0 8px;
}

.btn-default:hover, .open.dropup ,.dropup .btn-group, .pop-menu .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
  background-color: #f4f5f7 !important;
  border-radius: 8px;
}

#wc-container-left{
  width: 58.9% !important;
  margin-left: 14vw;
  color: #18181C !important;
}

.main-layout, .sharing-layout {
  border-radius: 16px;
}

#wc-container-right{
  color: #18181C !important;
}

#wc-container-right .bottom {
  display: none;
}

.chat-participant-header {
  border-top: none !important;
}